.hero {
  background-image: url("/img/sunrise_earth.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100vh;
}
.content {
  background-image: url("/img/star2Bkgd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200vh;
}
.about {
  background-color: #fff;
  width: 100%;
  height: 40rem;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 2.5rem;

  &_title {
    font-family: $font-crete;
    color: $color-black;
    font-size: 4rem;
  }
  &_textBox {
    margin-top: 2rem;
    padding: 1rem;
  }
  &_text {
    color: $color-black;
    font-size: 2rem;
    font-family: $font-crete;
    text-indent: 1.5rem;
  }

  &_picture {
    width: 100%;
    height: 40rem;
    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 2.5rem;
    }
  }
}

